{% extends "base.html.twig" %}

{% block title %}CardDrawer{% endblock %}

{% block body %}
<h1>Card Drawer</h1>
<div class="game-div">
<p>This is a game where you draw cards. Enjoy.</p>
</div>
{% endblock %}
