* {
  font-family: Verdana, Tahoma, sans-serif;
}
html,
body {
  height: 100%;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  background-image: linear-gradient(
    to bottom right,
    rgb(253, 183, 233),
    rgb(177, 213, 246),
    rgb(253, 183, 233));
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
a {
  color: rgb(2, 85, 163);
  text-transform: uppercase;
  text-underline-offset: 0.6em;
  padding: 1em;
}

p {
  max-width: 70ch;
}
body {
  width: 100%;
  background-color: rgb(219, 233, 246);
  /*background: url('../images/background.jpg');
    background-size: cover;
    background: no-repeat;
    */

  .site-header {
    display: flex;
    height: 10vh;
    text-align: center;
    padding: 2em 0;
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
  .site-nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;

    li a {
      font-weight: 600;
    }
  }
}

code {
  font-family: 'Courier New', Courier, monospace;
  padding: 1em;
}
.main-container {
  flex: 1;
  width: 90%;
  padding: 2em;

  h1 {
    color: rgb(2, 85, 163);
    text-align: center;
  }

  .lucky-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      max-width: 25ch;
    }

    img {
      border-radius: 50%;
    }

    .rand-alb {
      margin-top: 2em;
      padding: 1em;
      background-color: rgb(219, 233, 246);
      border-radius: 5px;
    }
  }

  .link-list {
    padding: 0;
    li {
      margin: 2.5em 0;
    }
  }
  .two-grid {
    display: grid;
    grid-template-columns: 40% auto;
    gap: 2em;
    margin: 0 3em;
  }

  .course-description {
    font-style: italic;
  }
  figure {
    display: flex;
    flex-direction: column;
    align-items: center;

    .profile-pic {
      border-radius: 25%;
      border: 5px solid rgba(2, 85, 163, 0.486);
    }
  }
}
