{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Welcome</h1>
    <div class="two-grid profile">
  <figure>
  <img
    src="/img/profile.png"
    alt="Cartoonish image representing me"
    class="profile-pic"  />
  <figcaption>It's me, Hi!</figcaption>
</figure>
    <section>
    <h2>It's me, Hi, I'm the creator it's me!</h2>
    <p>
    Currently studying to become a web developer at
     Blekinge Institute of Technology, I'm now diving deep into the world of MVC architecture.
    </p>
    <p>
    With a cup of coffee by my side, a terminal window open, and Taylor Swift's music in the background, 
    I'm building my future — one line of code, one beat, one era at a time.
    </p>
    </section>
</div>
{% endblock %}
